<aside id="aboutMe" class="widget widget_search">
  <aside class="widget">
    <h3 class="widget-title">关于我</h3>
    <div class="widget-content">
	  <img src="/css/images/avatar.jpg" width="100"/>
      <p>邮箱: yd_lihuan@163.com</p>
	  <p>QQ:549999028</p>
    </div>
  </aside>
</aside>